﻿@{
    ViewBag.Title = "Main menu";
}

<br />
<br />
<div class="row">
    <div class="col-md-4">

        <p><a class="btn btn-default" href="~/Rent/Create">Register new rent &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">

        <p><a class="btn btn-default" href="~/Rent/RentList">Update rent &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">

        <p><a class="btn btn-default" href="~/Rent/Index">List rents &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">

        <p><a class="btn btn-default" href="~/Car/Index">List avaiable cars &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">

        <p><a class="btn btn-default" href="~/Customer/Create">Register new customer &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">

        <p><a class="btn btn-default" href="~/Customer/EditList">Upadate customer &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">

        <p><a class="btn btn-default" href="~/Customer/Index">List customers &raquo;</a></p>
    </div>
</div>
