﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="form-group">
    @Html.Label("val")
    <div class="col-md-10">
        @Html.TextArea("text")

    </div>
</div>
@Html.ActionLink(
  "ButtonText",
  "Details",                         // controller action
  "Customer",        // controller
  new { Model.QuoteGuid },         // action parameters aka route values
  new { @class = "btn btn-info" }) // html attributes